<div class="admin-faq-container">
  <h2>Gestión de Preguntas Frecuentes (FAQs)</h2>

  <!-- Botón para agregar una nueva FAQ -->
  <button class="btn btn-primary" (click)="openForm()">Agregar Nueva FAQ</button>
  <!-- Formulario para Crear/Editar -->
  <div *ngIf="selectedFAQ">
    <h3>{{ selectedFAQ._id ? 'Editar FAQ' : 'Crear Nueva FAQ' }}</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="question">Pregunta:</label>
        <input type="text" id="question" [(ngModel)]="selectedFAQ.question" name="question" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="answer">Respuesta:</label>
        <textarea id="answer" [(ngModel)]="selectedFAQ.answer" name="answer" class="form-control" required></textarea>
      </div>
      <button type="submit" class="btn btn-success">{{ selectedFAQ._id ? 'Actualizar' : 'Crear' }}</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    </form>
  </div>
  <!-- Tabla de Preguntas Frecuentes -->
  <table class="table">
    <thead>
      <tr>
        <th>Pregunta</th>
        <th>Respuesta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let faq of faqs">
        <td>{{ faq.question }}</td>
        <td>{{ faq.answer }}</td>
        <td>
          <button class="btn btn-warning" (click)="editFAQ(faq)">Editar</button>
          <!-- <button class="btn btn-danger">Eliminar</button> -->
        </td>
      </tr>
    </tbody>
  </table>


</div>
