<!-- <div class="product-reviews">
    <h3>Reseñas</h3>
    <div *ngFor="let review of reviews">
      <p><strong>{{ review.author }}</strong></p>
      <p>{{ review.comment }}</p>
      <p><strong>Rating:</strong> {{ review.rating }} / 5</p>
    </div>

    <h4>Añadir Reseña</h4>
    <form [formGroup]="reviewForm" (ngSubmit)="addReview()">
      <div>
        <label for="author">Autor</label>
        <input id="author" formControlName="author" />
      </div>
      <div>
        <label for="comment">Comentario</label>
        <textarea id="comment" formControlName="comment"></textarea>
      </div>
      <div>
        <label for="rating">Rating</label>
        <input id="rating" type="number" formControlName="rating" min="1" max="5" />
      </div>
      <button type="submit" [disabled]="reviewForm.invalid">Añadir Reseña</button>
    </form>
  </div>
   -->
