<div class="no-connection-container">
  <div class="cursor"></div>
  <div class="content">
    <div class="icon-container">
      <i class="pi pi-wifi no-connection-icon"></i>
    </div>
    <div class="text-content">
      <h1 class="bienve">¡Ups, parece que no hay conexión!</h1>
      <p>No pudimos conectar con nuestro mundo de repostería.</p>
    </div>
    <div class="owner">
      <h2>¿Necesitas ayuda?</h2>
      <button class="contact-owner" (click)="redirectTo('home')">Reintentar</button>
    </div>
  </div>
</div>
