<div class="full-width-container">
  <div *ngIf="compras.length > 0; else noCompras">
    <div *ngFor="let compra of compras" class="compra-container p-card p-shadow-3 p-mb-3 p-p-3">
      <div class="compra-header p-d-flex p-jc-between p-ai-center p-flex-column-sm p-text-center-sm">
        <div class="details-header p-text-center">
          <p class="p-text-center"><i class="pi pi-hashtag p-mr-2"></i><strong>Número de seguimiento:</strong> {{ compra.trackingNumber }}</p>
        </div>
        <p><strong>Total:</strong> {{ compra.totalAmount | currency }}</p>
        <p><i class="pi pi-calendar p-mr-2"></i><strong>Fecha de creación:</strong> {{ compra.createdAt | date:'short' }}</p>
      </div>
      <h3 class="compra-title"><i class="pi pi-list p-mr-2"></i>Detalles de la Compra</h3>
      <div *ngFor="let detail of compra.details" class="detail-container p-mt-2">
        <p><i class="pi pi-shipping-fast p-mr-2"></i><strong>Tipo de entrega:</strong> {{ detail.deliveryType }}</p>
        <p><i class="pi pi-calendar-plus p-mr-2"></i><strong>Fecha de entrega:</strong> {{ detail.deliveryDate | date:'short' }}</p>
        <p-button
        *ngIf="detail.status === 'PENDING'" (click)="pagar(compra)"
        label="Pagar"
        icon="pi pi-credit-card"

        badgeClass="p-badge-contrast"
        [outlined]="true" />
        <p><i class="pi pi-info-circle p-mr-2"></i><strong>Estado:</strong>
          <span [ngClass]="{'status-completed': detail.status === 'PAID', 'status-pending': detail.status === 'PENDING', 'status-cancelled': detail.status === 'Cancelled'}">
            {{ detail.status }}
          </span>


        </p>
        <div class="products-header ">
          <h4><i class="pi pi-box p-mr-2"></i>Productos</h4>
        </div>
        <div *ngFor="let product of detail.products" class="product-container p-d-flex p-ai-center p-mt-2 p-flex-column-sm">
          <div *ngIf="product.details?.images?.length" class="product-image-container p-mr-2 p-text-center-sm">
            <img [src]="product.details.images[0]" alt="Imagen del producto" class="product-image">
          </div>
          <div class="product-details">
            <p><i class="pi pi-sort-amount-up-alt p-mr-2"></i><strong>Cantidad:</strong> {{ product.quantity }}</p>
            <p><i class="pi pi-tag p-mr-2"></i><strong>Nombre del producto:</strong> {{ product.details?.name }}</p>
            <p><i class="pi pi-money-bill p-mr-2"></i><strong>Precio del producto:</strong> {{ product.details?.price | currency }}</p>
            <p><i class="pi pi-align-left p-mr-2"></i><strong>Descripción:</strong> {{ product.details?.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noCompras>
    <div class="no-compras-container animate-fade-in">
      <p class="no-compras-text">
        🚫 Parece que no has realizado ninguna compra aún.
        <a (click)="redirectTo('home')" class="no-compras-link">Explora nuestros productos</a>
      </p>
    </div>
  </ng-template>
</div>
