<div *ngIf="admins.length > 0" class="table-container">
  <h2>Lista de Administradores</h2>
  <ng-container *ngIf="isWeb; else cardView">
    <div class="table-responsive">
      <p-table [value]="admins">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Teléfono</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-admin>
          <tr>
            <td>{{ admin.name }} {{ admin.paternalLastname }} {{ admin.maternalLastname }}</td>
            <td>{{ admin.email }}</td>
            <td>{{ admin.rol }}</td>
            <td>
              <p-tag [value]="admin.status" [severity]="getSeverity(admin.status)" [rounded]="true"></p-tag>
            </td>
            <td>{{ admin.phone }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-container>
  <ng-template #cardView>
    <div class="card-container">
      <div *ngFor="let admin of admins" class="card">
        <h3>{{ admin.name }} {{ admin.paternalLastname }} {{ admin.maternalLastname }}</h3>
        <p><strong>Correo Electrónico:</strong> {{ admin.email }}</p>
        <p><strong>Rol:</strong> {{ admin.rol }}</p>
        <p><strong>Estado:</strong> <p-tag [value]="admin.status" [severity]="getSeverity(admin.status)" [rounded]="true"></p-tag></p>
        <p><strong>Teléfono:</strong> {{ admin.phone }}</p>
      </div>
    </div>
  </ng-template>
</div>

<div *ngIf="admins.length === 0" class="table-container">
  <p>No hay administradores disponibles.</p>
</div>

<div *ngIf="clients.length > 0" class="table-container">
  <h2>Lista de Clientes</h2>
  <ng-container *ngIf="isWeb; else cardViewClients">
    <div class="table-responsive">
      <p-table [value]="clients">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Teléfono</th>
            <th>Foto de Perfil</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
          <tr>
            <td>{{ client.name }} {{ client.paternalLastname }} {{ client.maternalLastname }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.rol }}</td>
            <td>
              <p-tag [value]="client.status" [severity]="getSeverity(client.status)" [rounded]="true"></p-tag>
            </td>
            <td>{{ client.phone }}</td>
            <td>
              <ng-container *ngIf="client.profilePhoto; else noPhoto">
                <img [src]="client.profilePhoto" alt="Profile Photo" class="profile-photo">
              </ng-container>
              <ng-template #noPhoto>
                <div class="initial-circle" [ngStyle]="{'background-color': getRandomColor(client._id)}">
                  {{ getInitial(client.name) }}
                </div>
              </ng-template>
            </td>
            <td>
              <p-button icon="pi pi-pencil" severity="success" (click)="editUser(client)" [outlined]="true"></p-button>
              <p-button icon="pi pi-trash" severity="danger" (click)="deleteUser(client._id)" [outlined]="true"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-container>
  <ng-template #cardViewClients>
    <div class="card-container">
      <div *ngFor="let client of clients" class="card">
        <h3>{{ client.name }} {{ client.paternalLastname }} {{ client.maternalLastname }}</h3>
        <p><strong>Correo Electrónico:</strong> {{ client.email }}</p>
        <p><strong>Rol:</strong> {{ client.rol }}</p>
        <p><strong>Estado:</strong> <p-tag [value]="client.status" [severity]="getSeverity(client.status)" [rounded]="true"></p-tag></p>
        <p><strong>Teléfono:</strong> {{ client.phone }}</p>
        <p><strong>Foto de Perfil:</strong>
          <ng-container *ngIf="client.profilePhoto; else noPhotoClient">
            <img [src]="client.profilePhoto" alt="Profile Photo" class="profile-photo">
          </ng-container>
          <ng-template #noPhotoClient>
            <div class="initial-circle" [ngStyle]="{'background-color': getRandomColor(client._id)}">
              {{ getInitial(client.name) }}
            </div>
          </ng-template>
        </p>
        <div class="actions">
          <p-button icon="pi pi-pencil" severity="success" (click)="editUser(client)" [outlined]="true"></p-button>
          <p-button icon="pi pi-trash" severity="danger" (click)="deleteUser(client._id)" [outlined]="true"></p-button>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div *ngIf="clients.length === 0" class="table-container">
  <p>No hay clientes disponibles.</p>
</div>
