<div class="not-fond-container">
  <div class="cursor"></div>
  <div class="content">
    <div class="text-content">
      <h1 class="bienve">¡Compra exitosa!</h1>
      <p>
        Tu pedido ha sido procesado con éxito y el seguimiento ha sido enviado a
        tu correo electrónico.
      </p>
    </div>
    <div class="owner">
      <a class="contact-owner" href="#">Volver</a>
    </div>
  </div>
</div>

<!-- Modal de Feedback -->

<p-dialog
(onHide)="closeFeedbackModal()"

  header="Feedback"
  [(visible)]="feedbackVisible"
  [modal]="true"
  [style]="{ width: '25rem' }"
>
  <div data-aos="zoom-in">
    <app-form-feedback (surveySubmitted)="submitFeedback()"></app-form-feedback>
  </div>
</p-dialog>
<p-dialog
  header="🎉 ¡Gracias por tu Feedback! 🎉"
  [(visible)]="thanksModalVisible"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '22rem', textAlign: 'center', borderRadius: '10px', padding: '20px' }"
  contentStyle="text-align: center;"
  contentClass="animated-modal">
  <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
    <span style=" margin-top:2rem; font-size: 3rem; color: #FFD700;">🌟</span>
    <h2 style="color: #4CAF50; font-size: 1.5rem; margin-top: 0;">
      ¡Gracias por tu opinión!
    </h2>
    <p style="color: #6c757d; font-size: 1rem;">
      Te estamos redirigiendo al inicio... 🚀
    </p>
    <span style="font-size: 2rem; color: #FF4500;">❤️</span>
  </div>
</p-dialog>
