<div class="container">
  <div class="subcontenido">
    <h1 class="view-title">Productos</h1>


    <form [formGroup]="searchForm" class="form">

      <input pInputText placeholder="Buscar" formControlName="query"/>
      <p-button [outlined]="true" type="button" label="Crear Nuevo Producto" icon="pi pi-plus"  (click)="createprod()" severity="success" ></p-button>
    </form>

    <!-- Table for larger screens -->
    <div class="table-container" *ngIf="!isMobile">
      <p-table [value]="products" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" [totalRecords]="totalProducts" (onPage)="onPageChange($event)" class="p-table"  styleClass="p-datatable-gridlines"  severity="warning">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              <i class="pi pi-tag"></i> Nombre <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="image">
              <i class="pi pi-image"></i> Imagen <p-sortIcon field="image"></p-sortIcon>
            </th>
            <th pSortableColumn="price">
              <i class="pi pi-dollar"></i> Precio <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="weight">
              <i class="pi pi-chart-bar"></i> Peso <p-sortIcon field="weight"></p-sortIcon>
            </th>
            <th pSortableColumn="category">
              <i class="pi pi-th-large"></i> Categoría <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th>
              Estado
            </th>
            <th>
              Acciones
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.name }}</td>
            <td>
              <img [src]="product.images[0] ? product.images[0] : 'defaultImg'" alt="Imagen del producto" class="product-image" />
            </td>
            <td>{{ product.price }}</td>
            <td>{{ product.weight }}</td>
            <td>{{ product.category }}</td>
            <td>   <p-tag [value]="checarsta(product.status)" [severity]="getSeverity(checarsta(product.status))"  [icon]="geIcon(checarsta(product.status))"/>
            </td>
            <!-- <td [ngClass]="{'active': product.status === 'ACTIVE', 'deactive': product.status === 'INACTIVE'}">
              {{ product.status }}
            </td> -->
            <td class="actions-cell">
              <p-button type="button" icon="pi pi-pencil" class="edit-button"     (click)="editprod(product)" [outlined]="true"></p-button>
              <p-button type="button" icon="pi pi-trash" class="delete-button" (click)="openDeleteConfirmation(product)" [outlined]="true"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Card list for smaller screens -->
    <div class="card-container" *ngIf="isMobile">
      <div class="product-card" *ngFor="let product of products">
        <img [src]="product.images[0] ? product.images[0] : 'defaultImg'" alt="Imagen del producto" class="product-image" />
        <div class="product-details">
          <h3>{{ product.name }}</h3>
          <p>{{ product.price }}</p>
          <p>{{ product.weight }}</p>
          <p>{{ product.category }}</p>
          <p-tag [value]="checarsta(product.status)" [severity]="getSeverity(checarsta(product.status))"  [icon]="geIcon(checarsta(product.status))"/>
          <div class="actions">
            <p-button type="button" icon="pi pi-pencil" class="edit-button"   (click)="editprod(product)" [outlined]="true"></p-button>
            <p-button type="button" icon="pi pi-trash" class="delete-button" (click)="openDeleteConfirmation(product)" [outlined]="true"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
