<div *ngIf="feedbackSummary" class="feedback-container">
  <h2>Total Feedbacks: {{ feedbackSummary.totalFeedbacks }}</h2>

  <!-- Gráfico de barras de Puntuaciones Promedio -->
  <h3>Average Scores</h3>
  <div class="chart-container">
    <canvas
      baseChart
      [datasets]="averageScoresChartData"
      [labels]="averageScoresChartLabels"
      [options]="averageScoresChartOptions"
    >
    </canvas>
  </div>

  <!-- Gráfico de radar de Feedbacks Individuales -->
  <h3>Individual Feedback Details</h3>
  <div class="chart-container">
    <canvas
      baseChart
      [datasets]="feedbackRadarChartData"
      [labels]="feedbackRadarChartLabels"
      [options]="feedbackRadarChartOptions"
    >
    </canvas>
  </div>

  <!-- Gráfico de Distribución de NPS Scores -->
  <h3>Distribución de NPS Scores</h3>
  <div class="chart-container">
    <canvas
      baseChart
      [datasets]="npsDistributionChartData"
      [labels]="npsDistributionChartLabels"
      [options]="npsDistributionChartOptions"
    >
    </canvas>
  </div>

</div>
