/* Estilos generales para el contenedor */
.feedback-container {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

// /* Título principal */
// .feedback-container h2 {
//   font-size: 1.8em;
//   color: #333;
//   margin-bottom: 10px;
// }

// /* Subtítulos */
// .feedback-container h3 {
//   font-size: 1.4em;
//   color: #555;
//   margin-top: 20px;
//   margin-bottom: 15px;
// }

// /* Estilos para contenedores de los gráficos */
// .chart-container {
//   display: block;
//   width: 80%;
//   max-width: 400px;
//   margin: 0 auto 30px;
//   padding: 15px;
//   background-color: #f9f9f9;
//   border-radius: 10px;
//   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
// }

// /* Canvas para los gráficos */
// .chart-container canvas {
//   width: 100% !important;
//   height: auto !important;
// }
