<div class="camera-container">
  <!-- Video solo se muestra si isCameraOpen es true -->
  <video #videoElement *ngIf="isCameraOpen" width="100%" height="auto"></video>

  <!-- Botón para abrir la cámara -->
  <button pButton class="btn" icon="pi pi-video" label="Abrir Cámara" (click)="startCamera()" *ngIf="!isCameraOpen"></button>

  <!-- Botón para capturar foto -->
  <button pButton class="btn" icon="pi pi-camera" label="Capturar Foto" (click)="capturePhoto()" *ngIf="isCameraOpen"></button>

  <!-- Botón para cambiar de cámara -->
  <button pButton class="btn" icon="pi pi-refresh" label="Cambiar Cámara" (click)="toggleCamera()" *ngIf="isCameraOpen"></button>

  <!-- Botón para cerrar la cámara -->
  <button pButton class="btn" icon="pi pi-times" label="Cerrar Cámara" (click)="stopCamera()" *ngIf="isCameraOpen"></button>

  <!-- Mostrar miniatura de la foto capturada -->
  <div *ngIf="capturedPhoto" class="photo-preview">
    <h3>Foto Capturada:</h3>
    <img [src]="capturedPhoto" alt="Captura de Cámara" width="150">
  </div>
</div>
